/** Start Global **/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix {
    clear: both;
    display: block;
    width: 100%; 
}
button {
    color: #FFF;
    font-size: 16px;
}
*::-webkit-media-controls{
  display:none !important;
}
body {
    margin: 0;
    font-family: Verdana, Tahoma, Arial;
    background: url(https://s29.postimg.org/s0xv9pfgn/image.png) no-repeat center center;
    background-size: 100% 200%;
} 
/** End Global **/
body.full-screen {
    overflow: hidden;
}
.player-play-list .container {
    background-color: #393939;
    -webkit-box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
